
.objectName{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    font-size: 14px;
}
.userСard{
    width: 250px;
    height: 200px;
    border: 1px solid #a30e0e;
    margin: 10px;
    padding: 10px;
}
.blockRed{
    background: red;
}
.blockGold{
    background: gold;
}
.userСard div p{
    padding: 2px;
    margin: 0;
    text-align: center;
}
.action{
    text-align: center;
}
.action button{
    width: 55px;
    height: 40px;
    border-radius: 50px;
    background: #48ee64;
}