
.userCard {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: darkgreen solid 1px;
}

.cards {
    width: 250px;
    padding: 10px;
    margin: 5px;
    border: brown solid 1px;
}
.red{
    background-color: red;
}
.aqua{
    background-color: rgba(0, 255, 255, 0.28);
}
.title {
    font-size: 24px;
    text-align: center;
}